
<h1>[% list.total_entries %] [% IF list.total_entries == 1 %][% factory.title(type) %][% ELSE %][% factory.plural(type) %][% END %] found</h1>

[% PROCESS furniture/pagination.html IF list.startat %]

[% FOREACH thing = list.contents %]
	<p><a href="[% config.url %]?[% thing.moniker %]=[% thing.id %][% IF thing.moniker == 'track' %]#track[% thing.id %][% END %]">[% thing.title %]</a><br>
	[% thing.description %]</p>
[% END %]

[% PROCESS furniture/pagination.html %]

[% PROCESS edit.html thing='' %]
